<table class="table table-striped">
  <thead class="thead-dark">
    <th scope="col" width="80%">Coin</th>
    <th scope="col">Value</th>
    <th scope="col">Change (24h)</th>
  </thead>
  <tbody>
    <tr *ngFor="let coin of coins">
      <th scope="row"><a class="deco-none" href="/trade/{{coin.id}}">{{coin.name}}</a></th>
      <td>{{coin.value}}</td>
      <td>{{coin.value-coin.value24h}}</td>
      <!-- <td>{{coin.getChange()}}</td> -->
    </tr>
  </tbody>
</table>

<div *ngIf="coin">
  <div class="row">
    <div class="col-md-9">
      <canvas id="coin-chart-{{ coin.id }}">{{ coin.chart }}</canvas>
    </div>
    <div class="col-md-3">
      <table class="table table-striped" style="text-align: center">
        <thead class="thead-dark">
          <th scope="col">Amount</th>
          <th scope="col">Price</th>
          <th scope="col">Total</th>
        </thead>
        <tbody>
          <tr *ngFor="let coin of coins">
            <td width="34%">20</td>
            <td width="33%">1.234</td>
            <td width="33%">24.68</td>
            <!-- <td>{{coin.getChange()}}</td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>Buy</h2>
    </div>
    <div class="col-md-6">
      <h2>Sell</h2>
    </div>
  </div>
</div>