<table class="table table-striped">
  <thead class="thead-dark">
    <th scope="col" width="80%">Coin</th>
    <th scope="col">Value</th>
    <th scope="col">Change (24h)</th>
  </thead>
  <tbody>
    <tr *ngFor="let coin of coins">
      <th scope="row"><a class="deco-none" [routerLink]="['/trade',coin.id]">{{coin.name}}</a></th>
      <td>{{coin.value}}</td>
      <td>{{coin.getChange()}}</td>
    </tr>
  </tbody>
</table>

<div *ngIf="coin">
  <div class="row">
    <div class="col-md-9">
      <h2>{{ coin.name }}</h2>
      <canvas id="coin-chart-{{ coin.id }}">{{ coin.chart }}</canvas>
    </div>
    <div class="col-md-3">
      <h2>Trades</h2>
      <table class="table table-striped" style="text-align: center">
        <thead class="thead-dark">
          <th scope="col">Amount</th>
          <th scope="col">Value</th>
          <th scope="col">Total</th>
        </thead>
        <tbody>
          <tr *ngFor="let trade of trades">
            <td width="34%">{{ trade.amount }}</td>
            <td width="33%">{{ trade.coinValue }}</td>
            <td width="33%">{{ trade.getTotal() }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>Buy</h3>
      <small>{{user.funds}} FauxCoins owned</small>
      <form (ngSubmit)="onBuy()">
          <div class="form-group">
            <label for="buyValue">Value</label>
            <input type="text"  class="form-control" id="buyValue" [(ngModel)]="buyModel.value" name="buyValue" disabled>
          </div>
          <div class="form-group">
            <label for="buyAmount">Amount</label>
            <input type="text"  class="form-control" id="buyAmount" [(ngModel)]="buyModel.amount" name="buyAmount" (keyup)="updateBuyTotal()">
          </div>
          <div class="form-group">
            <label for="buyTotal">Total</label>
            <input type="text"  class="form-control" id="buyTotal" [(ngModel)]="buyModel.total" name="buyTotal" disabled>
          </div>
          <button type="submit" class="btn btn-success" style="width:100%">Buy</button>
      </form>
    </div>
    <div class="col-md-6">
      <h3>Sell</h3>
      <small>{{coin.amount}} {{coin.name}}s owned</small>
      <form (ngSubmit)="onSell()">
          <div class="form-group">
            <label for="sellValue">Value</label>
            <input type="text"  class="form-control" id="sellValue" [(ngModel)]="sellModel.value" name="sellValue" disabled>
          </div>
          <div class="form-group">
            <label for="sellAmount">Amount</label>
            <input type="text"  class="form-control" id="sellAmount" [(ngModel)]="sellModel.amount" name="sellAmount" (keyup)="updateSellTotal()">
          </div>
          <div class="form-group">
            <label for="sellTotal">Total</label>
            <input type="text"  class="form-control" id="sellTotal" [(ngModel)]="sellModel.total" name="sellTotal" disabled>
          </div>
          <button type="submit" class="btn btn-success" style="width:100%">Sell</button>
      </form>
    </div>
  </div>
</div>