@import "~bootstrap/dist/css/bootstrap.css";

/* Move content down for navbar */
body {
  padding-top: 5rem;
}

a.deco-none {
  color: inherit;
  text-decoration:none;
}

.vl {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  height: 50px;
  margin-left: 1rem;
  margin-right: 1rem;
}